In [39]:
import pandas as pd
df = pd.DataFrame([{'Site_ID': 1, 'Section_ID': 'a,b,c'},
               {'Site_ID': 2, 'Section_ID': 'd,e,f'}])

In [40]:
df

   Site_ID Section_ID
0        1      a,b,c
1        2      d,e,f

In [49]:
pd.concat([pd.Series( row['Site_ID'], row['Section_ID'].split(',') ) for _, row in df.iterrows()])

a    1
b    1
c    1
d    2
e    2
f    2
dtype: int64

In [58]:
df1 = pd.concat([pd.Series( row['Site_ID'], row['Section_ID'].split(',') ) for _, row in df.iterrows()]).reset_index(name='Site_ID')
df1

  index  Site_ID
0     a        1
1     b        1
2     c        1
3     d        2
4     e        2
5     f        2

In [62]:
df2 = pd.DataFrame(pd.concat([pd.Series( row['Site_ID'], row['Section_ID'].split(',') ) for _, row in df.iterrows()]).reset_index(name='Site_ID'))
df2

  index  Site_ID
0     a        1
1     b        1
2     c        1
3     d        2
4     e        2
5     f        2

In [64]:
import numpy as np
df3 = pd.DataFrame(np.array(pd.concat([pd.Series( row['Site_ID'], row['Section_ID'].split(',') ) for _, row in df.iterrows()]).reset_index()), columns=['Site_ID','Section_ID'])
df3

  Site_ID Section_ID
0       a          1
1       b          1
2       c          1
3       d          2
4       e          2
5       f          2

In [38]:
[pd.Series( row['var1'], row['var2'].split(',') ) for _, row in df.iterrows()]

[a    1
 b    1
 c    1
 dtype: int64,
 d    2
 e    2
 f    2
 dtype: int64]

In [36]:
for _, row in df.iterrows():
    print(_)
    print(row['var1'])
    print(row['var2'])

0
1
a,b,c
1
2
d,e,f